name: Dry run Github Pages

on:
  pull_request:
    branches:
      - main

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install website packages
        run: |
          npm install
          npm audit fix
          npm run install-jekyll

      - uses: helaili/jekyll-action@v2
        with:
          build_only: true
          gem_src: site
